<%- include('./partials/head.ejs') %>
    <main>
        <section class="headline">
            <div class="headline-content">
                <h1>Hi, Stekje ruilen of doneren?</h1>
                <p>
                    Ben je op zoek naar een prachtig nieuw plantje om aan je collectie toe te
                    voegen? Of heb je al een aantal groene vrienden thuis en wil je deze
                    ruilen met je mede buurtbewoners? Dan ben je hier aan het perfecte
                    adres! Je kunt nu eenvoudig je stekje uploaden of reserveren en deze
                    ophalen bij de OBA in de gezellige Linnaeusstraat. Waar wacht je nog op?
                    Laat je groene vingers wapperen en voeg een nieuwe aanwinst toe aan je
                    verzameling!
                </p>
                <div class="headline-buttons">
                    <a href="/aanmelden" aria-label="stekje toevoegen">Stekje doneren</a>
                    <a href="#stekjes" aria-label="bekijk beschikbare stekjes">Bekijk beschikbaren stekjes</a>
                </div>
                <figure>
                </figure>
        </section>


        <section class="bar">
            <div class="bar-content">
                <div class="filter-btn">
                    <button type="button">Filter<span><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M1 3.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5zM8 6a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 .708-.708L7.5 12.293V6.5A.5.5 0 0 1 8 6z" />
                            </svg></span>
                    </button>
                </div>
                <div class="drop-content">
                    <ul class="drop-list">
                        <li>
                            <label>
                                <input type="checkbox">
                                <span>Voeding</span></label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox">
                                <span>Water</span></label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox">
                                <span>Giftig</span></label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox">
                                <span>Licht</span></label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox">
                                <span>Standplaats</span></label>
                        </li>
                    </ul>
                </div>

                <div class="bar-search-form">
                    <form action="/">
                        <svg fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M10 4a6 6 0 1 0 0 12 6 6 0 0 0 0-12zm-8 6a8 8 0 1 1 16 0 8 8 0 0 1-16 0zM16.293 16.293a1 1 0 0 1 1.414 0l4 4a1 1 0 0 1-1.414 1.414l-4-4a1 1 0 0 1 0-1.414z" />
                        </svg>
                        <input type="search" placeholder="zoek op stek naam">
                    </form>
                </div>
            </div>
        </section>
        <h2>stekjes bieb</h2>

        <section class="plant-container" id="stekjes">
            <% stekjes.forEach(stekje=> { %>
                <article class="plant-card" aria-label="Beschikbaar stekje">
                    <% if (stekjes.fotos) { %>
                        <img src="<%= stekje.fotos%>" loading="lazy" alt="beschikbaar stekjes" width="250" height="250">
                        <% }else{ %>
                            <img src="https://static.vecteezy.com/ti/gratis-vector/p3/3315945-cartoon-illustratie-van-plantenpot-met-het-vraagteken-gratis-vector.jpg"
                                width="250" height="250" alt="beschikbaar stekje">
                            <% } %>
                                <div class="plant-card-content">
                                    <p>
                                        <%= stekje.aanmelddatum %>
                                    </p>
                                    <h3>
                                        <%= stekje.naam %>
                                    </h3>
                                    <p>beschrijving</p>
                                    <a href="plantReservation">Reserveer</a>
                                </div>
                </article>
                <% }) %>
        </section>

        <h2>Plantje ophalen?</h2>

        <section class="info-container" id="info-container">
            <div class="info-content">
                <div class="info-list">
                    <img width="200px" height="200px" src="/assets/Buurtcampus 54.svg" alt="illustratie laptop" />
                    <p>
                        Vanaf je luie stoel, bank of hangmat jouw stekje reserveren online of
                        jouw stekje uploaden zodat je buurtbewoners weer kunnen zorgen voor jouw
                        plantje
                    </p>
                </div>

                <div class="info-list">
                    <img width="200px" height="200px" src="/assets/Buurtcampus 58.svg"
                        alt="illustratie buurtcampus locatie" />
                    <p>
                        Vanaf je luie stoel, bank of hangmat jouw stekje reserver online of jouw
                        stekje uploaden zodat je buurtbewoners weer kunnen zorgen voor jouw
                        plantje
                    </p>
                </div>

                <div class="info-list">
                    <img width="200px" height="200px" src="/assets/Buurtcampus 71.svg"
                        alt="illustratie stekje doneren" />
                    <p>
                        Vanaf je luie stoel, bank of hangmat jouw stekje reserver online of jouw
                        stekje uploaden zodat je buurtbewoners weer kunnen zorgen voor jouw
                        plantje
                    </p>
                </div>

                <div class="info-list">
                    <img width="200px" height="200px" src="/assets/Buurtcampus 66.svg" alt="stekje meenemen" />
                    <p>
                        Vanaf je luie stoel, bank of hangmat jouw stekje reserver online of jouw
                        stekje uploaden zodat je buurtbewoners weer kunnen zorgen voor jouw
                        plantje
                    </p>
                </div>
            </div>
        </section>

    </main>

    <%- include('./partials/foot.ejs') %>